.emoji
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: sub
  background-repeat: no-repeat
  background-size: contain

&.avatar
    border-radius: 3px
    margin-left: 2px
  &.emoji-in-title
    width: 20px
    height: 20px
    margin-left: 5px
