.emoji
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: sub
  background-repeat: no-repeat
  background-size: contain
  
  &.octocat
    margin-left: 4px
    
  &.facebook
    width: 15px
    margin-left: 4px
    
  &.framedPicture
    margin-left: 2px
    margin-bottom: 1px
    
  &.sunglasses
    width: auto