.mask
  width: 100%
  height: 100%
  object-fit: cover
  mask-size: contain
  mask-repeat: no-repeat
  mask-position: center
  mask-type: luminance
.mask1
  mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-1.svg")
.mask2
  mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-2.svg")
.mask3
  mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-3.svg")
.mask4
  mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-4.svg")
.mask5
  mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-5.svg")