@require '../../../styles/globals'

.error-wrap
  display: inline-block
  width: 100%

.error
  color: error-text
  background-color: error
  padding: 3px 6px
  border-radius: 5px
  border-top-left-radius: 0
  border-top-right-radius: 0
  font-weight: 600
  font-size: 0.8rem