.note
  .descriptionContainer
    width: 80%
    display: inline-block
    background-color: #CEE6FF
    padding: 0px 10px
    border-radius: 5px
    font-size: 14px
    min-height: 115px
    margin-bottom: 10px
    
    &:after
      top: 10px
      right: 38px
      border: solid transparent
      content: ""
      position: absolute
      pointer-events: none
      border-width: 7px
      border-left-color: #CEE6FF
    
    textarea
      margin: 14px 0
      line-height: 20px
    

  .user
    float: right