@require '../../../styles/globals'

.outer
  display: inline-block
  width: 100%

.input-flex
  display: flex

  &.underline
    border: none;
    border-bottom: 1px solid line-on-secondary-background
    border-radius: 0
    .input-part
      font-family: monospace
      padding-left: 0px
      padding-right: 0px

  &.opaque
    background-color: primary-background
    border: 1px solid input-border
    border-radius: 3px
    
.input-part
  padding: 4px 10px 2px

.input
  flex-grow: 1
  border: none
  background: none
  transition: box-shadow .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

  &.search
    background-image: url(search)
    background-repeat: no-repeat
    background-position: right 5px center