@require '../../../styles/globals'

.opaque
  background-color: primary-background
  border-color: input-border
  border-radius: 3px
  border-style: solid
  border-width: 1px
  color: primary
  font-size: 13px
  padding: 4px 0px 2px 10px
  transition: box-shadow .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

.search
  background-image: url(search)
  background-repeat: no-repeat
  background-position: right 5px center