@require '../../../styles/globals'

.text-input
  transition: box-shadow .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

.underline
  padding: 4px 0px 2px 0px
  font-family: monospace
  border: none;
  border-bottom: 1px solid line-on-secondary-background
  border-radius: 0

.opaque
  background-color: primary-background
  border: 1px solid input-border
  border-radius: 3px
  .te
  padding: 4px 0px 2px 10px

.search
  background-image: url(search)
  background-repeat: no-repeat
  background-position: right 5px center