@require '../../../styles/globals'

.wrap
  display: inline-flex

  &.underline
    border: none;
    border-bottom: 1px solid line-on-secondary-background
    border-radius: 0
    .part
      font-family: monospace
      padding: 4px 0px 2px 0px

  &.opaque
    background-color: primary-background
    border: 1px solid input-border
    border-radius: 3px
    .part
      padding: 4px 0px 2px 10px

.input
  flex-grow: 1
  border: none
  background: none
  transition: box-shadow .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

  &.search
    background-image: url(search)
    background-repeat: no-repeat
    background-position: right 5px center