@require '../../../styles/globals'

.input-wrap
  display: inline-block
  width: 100%
  border: none;
  border-bottom: 1px solid line-on-secondary-background
  border-radius: 0

.input
  font-family: monospace
  padding-left: 0px
  padding-right: 0px
  border: none
  background: none
  transition: box-shadow .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused