// .projectEmbed
//   position: relative;
    
// .leftButtons
//   margin-top: 5px;
//   float: left;
//   margin-right: 10px;
//   padding-top: 3.5px;

// .rightButtons
//   margin-top: 5px;
//   text-align: right;
//   a 
//     margin: 3.5px;

.buttonContainer
  display: flex
  flex-wrap: nowrap
  
.left
  width: 50%

.right
  width: 50%
  text-align: right;
