.left-buttons
  margin-top: 5px;
  float: left;
  margin-right: 10px;
  padding-top: 3.5px;

.right-buttons
  margin-top: 5px;
  text-align: right;
  a 
    margin: 3.5px;

.project-embed

  div
    button.project-options
      display: block;
      padding-left: 5px;