.buttonContainer
  display: flex
  flex-wrap: nowrap
  margin: 5px
  position: relative;

.left
  width: 50%

.right
  width: 50%
  text-align: right
 
.buttonWrap
  div
    display: inline-block
    margin-right: 5px