{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["IE >= 11"]
        },
        "useBuiltIns": "usage",
        "debug": true
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "@babel/syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ],
  "sourceType": "unambiguous",
  "ignore": ["/node_modules/*"]
}