build/*
styles/style.css
styles/style.css.map
*.gz
src/cache/*
src/templates/**/*.js
node_modules/*
.cache-loader
*.md5
.config/configstore/update-notifier-nodemon.json
.config/configstore/update-notifier-pnpm.json
.viminfo
.webpackCache/*
.eslintcache
.vscode
.log