- logo = "https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fcarp.svg"
- title = @title || "Page Not Found"
- description = @description || "Maybe a typo? Or perhaps it's moved?"
- details = @details

.content.error-page
  .container
  
    h1
      =title
    h2
      =description
    
    

    .actions
      a(href="https://glitch.com")
        img(src=logo width=80)

    canvas#stars
    script(src="https://glitch.com/edit/error-page.js")
