span
  main(role="main")
    h1.headline
      a(href="https://glitch.com")
        span= "Glitch"
      span= " "
      span is the friendly community where you'll build the app of your dreams

    = @QuestionsPresenter
    = @RecentProjectsPresenter

    section.featured.featured-collections
      h2 Featured
      ul
        = @featuredCollections

    = @randomCategories

    = @CategoriesPresenter
    
    = @WhatIsGlitch

    = @ByFogCreek

    section.made-in-glitch
      p
        span Of course, this site was made on Glitch too
      a(href="https://glitch.com/edit/#!/community")
        button.has-emoji View Source
          .emoji.carp_streamer

  script(src="//fast.wistia.com/embed/medias/vskja9agqj.jsonp" async=true)
  script(src="//fast.wistia.com/assets/external/E-v1.js" async=true)
