span
  - console.log 'rendered index'
  = @whatIsGlitch

  main(role="main")
    = @ctaButtons

    = @QuestionsPresenter
    = @RecentProjectsPresenter

    section.featured.featured-collections
      h2 Featured
      ul
        = @featuredCollections

    = @randomCategories()

    = @CategoriesPresenter

    = @ByFogCreek

    section.made-in-glitch
      p
        span Of course, this site was made on Glitch too
      a(href="https://glitch.com/edit/#!/community")
        button.has-emoji View Source
          .emoji.carp_streamer

  script(src="//fast.wistia.com/embed/medias/vskja9agqj.jsonp" async=true)
  script(src="//fast.wistia.com/assets/external/E-v1.js" async=true)
