span
  main(role="main")
    h1.headline
      a(href="https://glitch.com")
        span= "Glitch"
      span= " "
      span is the friendly community where you'll build the app of your dreams

    - if @currentUser().isSignedIn()
      = @QuestionsPresenter
      = @RecentProjectsPresenter

    section.featured.featured-collections
      h2 Check These Out 👀
      .community-pick-embed-container
        img.witch(src="https://cdn.glitch.com/180b5e22-4649-4c71-9a21-2482eb557c8c%2Fwitch-2.svg?1521578927355" width="110px" height="82px")
        = @embed()
    
      ul
        = @featuredCollections
        
    = @StarterApps

    = @randomCategories

    = @Categories
    
    = @WhatIsGlitch

    = @ByFogCreek

    section.made-in-glitch
      p
        span Of course, this site was made on Glitch too
      a(href="https://glitch.com/edit/#!/community")
        button.has-emoji View Source
          .emoji.carp_streamer

  script(src="//fast.wistia.com/embed/medias/vskja9agqj.jsonp" async=true)
  script(src="//fast.wistia.com/assets/external/E-v1.js" async=true)
