main.profile-page.team-page(role="main")

  section
    = @TeamProfile

  = @addTeamProjectButton

  = @TeamProjects

  = @teamAnalytics

  section.team-marketing(class=@hiddenIfOnTeam)
    img(src="https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fteams-boombox.svg?1503591763497")
    .content-container
      p Want a page like this? Learn more about Glitch for Platforms
      a(href="https://glitch.com/forplatforms")
        button.has-emoji
          span Get Your Own
          span.emoji.fishing_pole
