main.user-page.team-page(role="main")

  = @TeamProfile

  = @addTeamProjectButton

  = @TeamProjects

  = @teamAnalytics

  // static jsx-ify me (also redesign to be less visually intense)
  section.team-marketing(class=@hiddenIfOnTeam)
    img(src="https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fteams-boombox.svg?1503591763497")
    .content-container
      p Want a page like this?
      a(href="https://glitch.com/forteams")
        button.has-emoji
          span Learn about Teams
          span.emoji.fishing_pole
