- cat = "https://cdn.gomix.com/us-east-1%3Acba180f4-ee65-4dfc-8dd5-f143280d3c10%2Fcat.svg"
- Loader = require "../includes/loader"

main.profile-page.user-page(role="main")

  section.hidden(class=@visibleIfUserNotFound)
    p we didn't find
      span= @userLoginOrId
    img(src=cat)

  span(class=@hiddenIfUserNotFound)
    =@Profile

    =@userProjects
    - if @isCurrentUser()
      = @deletedProjects

