@import '../constants'

.container
  list-style-type: none
  padding: 0
  margin: 0
  
.listItem
  display: inline-block

.row .listItem,
.block .listItem
  margin-right: -7px
  
.row
  white-space: nowrap
  overflow: hidden
  @media (min-width: mediumViewport)
    // like overflow:hidden but with an L shape
    // it extends below the rect and to the right
    // cut off avatars but let tooltips keep rendering
    overflow: visible
    clip-path: polygon(-100% 0%, 100% 0%, 100% 100%, 200% 100%, 200% 200%, -100% 200%)

.placeholder
  width: 32px
  height: 32px
  border-radius: 50%
  background: linear-gradient(to right, secondary-background-hover 8%, input-border 20%, secondary-background-hover 35%);
  background-size: 800px 104px;
  animation: loadingGradient 1.8s cubic-bezier(0.4, 0, 1, 1) infinite;

@keyframes loadingGradient{
  0%{
      background-position: 50% 0
  }
  100%{
      background-position: -50% 0
  }
}