.project-page
  
  .buttons .button
    margin-right: 7px
  
  .buttons-right
    text-align: right
  
  .glitch-embed-wrap
    width: 100%
    height: 640px
    iframe
      border: none
      width: 100%
      height: 100%
  
  .related-projects
    padding: 0
    > li
      display: block