.project-page
  
  .project-buttons
    margin-top: 1rem
    > *
      margin-right: 7px
  
  .glitch-embed-wrap
    width: 100%
    height: 500px
    iframe
      border: none
      width: 100%
      height: 100%
  
  .feedback-buttons
    text-align: right