.team-page

  .profile
    .user-information
      > span
        position: relative
    .users-information
      position: relative
      margin-bottom: 10px
    .add-user
      vertical-align: 12px
      margin-left: 5px
      // margin-left: 5px
      // position: absolute

  .team-user-avatar
    overflow: visible
    border-radius: inherit
    img
      display: block
      border-radius: inherit

  .team-marketing
    background-color: marketing
    padding: 18px 12px
    max-width: 500px
    border-radius: 5px
    display: flex
    img
      margin-right: 10px
      
    p
      margin-top: 0

  .add-user-container,
  .add-project-container
    position: relative 