.team-page

  .profile
    .users-information
      position: relative
      margin-bottom: 10px
    .add-user
      vertical-align: middle
      margin-left: 5px

  .team-marketing
    background-color: marketing
    padding: 18px 12px
    max-width: 500px
    border-radius: 5px
    display: flex
    img
      margin-right: 10px
      
    p
      margin-top: 0

  .add-user-container,
  .add-project-container
    position: relative 