.team-page
  
  .team-upgrade-banner
    background-color: secondary-background
    max-width: 300px
    border-radius: 5px
    padding: 12px
    progress
      width: 100%
      border-color: line-on-secondary-background
    .secondary
      color: text-on-secondary-background
      font-size: 14px
      margin-top: 0.5rem
