.user-page
  
  .projects
    padding: 0
    margin-bottom: 1rem
    display: block
    overflow: auto

    .project-options
      display: block

    // .projects-container
    //   overflow: visible

    .slide-up
      animation: slideUp 0.1s ease-out
      animation-fill-mode: forwards

    .slide-down
      animation: slideDown 0.1s ease-out
      animation-fill-mode: forwards

  .profile-information .username input
    padding-left: 2rem;
    &:before
      content: "@"