.cover-container
  position: relative
  border-radius: 5px
  padding: 16px
  background-size: 100%
  background-position: center
  // .upload-image-buttons
  //   position: absolute
  //   top: 5px
  //   right: 5px
  //   button
  //     margin-left: 5px