<html>
  <body>
    <script>
      const CONSTANTS = <%- JSON.stringify(CONSTANTS) %>;
      let _env;
      if (document.location.hostname.indexOf('glitch.development') >= 0) {
        _env = "development";
      } else if (document.location.hostname.indexOf('staging.glitch.com') >= 0) {
        _env = "staging";
      } else {
        _env = "production";
      }
      const API_URL = CONSTANTS[_env].API_URL;
      const APP_URL = CONSTANTS[_env].APP_URL;
      const PROJECTS_DOMAIN = CONSTANTS[_env].PROJECTS_DOMAIN;
      const domain = '<%= domain %>';
      
      //  BE VERY CAREFUL HERE
      //  Any changes to this code can have large security implications.  Make sure you 
      //  are aware of them before touching anything.
      
      const cachedUser = window.localStorage.cachedUser;
      if (
      const user = JSON.parse(cachedUser);
      const url = `${API_URL}projects/${domain}/appAuthToken?authorization=${user.persistentToken}`;
      fetch(url, {
          method : "POST",
      }).then(function(response) {
        return response.json();
      }).then(function(json) {
        window.parent.postMessage(json.token, `https://${domain}.${PROJECTS_DOMAIN}`);
      });
    </script>
  </body>
</html>