@import '../constants.styl'

.container
  color: inherit
  display: block
  overflow: hidden
  border-radius: 0.5rem
  background-color: #e5e5e5
  font-size: 14px
  text-decoration: none
  &:hover
    text-decoration: none

.mainContent
  display: flex
  align-items: flex-start
  padding: 12px
  
.login
  padding-top: 2px
  color: tertiary

.nameLoginWrap
  margin-bottom: 8px
  
.avatarWrap
  flex: 0 0 30%
  @media (max-width: mediumSmallViewport)
    flex: 0 0 75px
  
.avatar
  width: 100%
  max-width: 75px
  border-radius: 50%
  
.body
  flex: 1 1 auto
  padding-left: 0.5rem
  // for markdown component
  p
    margin-bottom: 0
    a
      color: inherit