@import '../constants'

.container
  list-style-type: none
  padding: 0
  margin: 0
  
.listItem
  display: inline-block
  margin-right: -7px
  
.row
  white-space: nowrap
  overflow: hidden
  @media (min-width: mediumViewport)
    // like overflow:hidden but with an L shape
    // it extends below the rect and to the right
    // cut off avatars but let tooltips keep rendering
    overflow: visible
    clip-path: polygon(-100% 0%, 100% 0%, 100% 100%, 200% 100%, 200% 200%, -100% 200%)
