.collection-page
  article.projects
    display: flex
    border-radius: 5px
    @media(max-width: largeViewport)
      flex-wrap: wrap
  .collection-image-container
    margin: 15px 0px
    max-width: 175px
    img
      width: 85%
      max-height: 100%
  header.collection
    padding: 12px 25px
    margin: 0px 30px 30px 0px
    width: 24%
    border-top-left-radius: 5px
    @media(max-width: mediumViewport)
      width: 100%
      margin: 0
      border-top-right-radius: 5px
      padding: 25px
    @media(max-width: largeViewport)
      width: 100%
      margin: 0
      border-top-right-radius: 5px
      padding: 25px
    a
      background-color: transparent !important
      word-wrap: break-word
    .user
      margin: 12px 0px
    &.dark
      color: white
      .collection-name textarea
        color: white
      .content-editable
        border-color: white
      .collection-description textarea
        color: white
    .content-editable
      border-color: secondary
  .collection-name
    margin-bottom: 0px
    .description 
      margin-bottom: 5px
  .collection-description 
    p
      margin: 0
    > * p
      margin: 0 !important
  .edit-collection-color-btn
    margin-top: 25px
  .collection-url
    font-family: Menlo, Consolas, Monaco, "Lucida Console", Monospace
    font-size: small
    font-weight: bold
    margin-top: 0px
    color: text-on-secondary-background 
  .collection-contents 
    width: 75%
    padding: 12px
    background-color: secondary-background
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px
    @media(max-width: mediumViewport)
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      border-top-right-radius: 0px
    @media(max-width: largeViewport)
      width: 100%
      border-bottom-left-radius: 5px
      border-bottom-right-radius: 5px
      border-top-right-radius: 0px
  .collection-project-container-header
    margin: 0px 10px
  .projects-container
    margin: 30px 30px 30px 16px
    overflow: visible
  .projects-container > li
    @media(max-width: largeViewport)
      width: 48%
    @media(max-width: mediumViewport)
      width: 100%
    .project-options-pop
      width: 200px
  .empty-collection-hint
    border-radius: 4px
    margin: 25px 16px
    img
      float: left
      margin-right: 10px
    p
      float: left
  .projects
    background-color: rgba(229, 229, 229, 0.4)
    width: 100%
    margin-right: initial
    padding: 0px
    
    .category
      img
        padding-bottom: 0.5rem
      .description
        max-width: initial
  .button.delete-collection
    margin-top: 50px
    display: block
  .buttons.buttons-right
    text-align: right
  .project-options
    display: block
    background: none
a.collection-view-all
  font-weight: 600
  font-size: 13px
a.collection-view-all:hover
  text-decoration: underline !important