.collection-page
  .collection-name
    margin-top: 0
  .collection-image-container
    margin: 15px 0px

  .projects
    width: 100%
    margin-right: initial
    .category
      img
        padding-bottom: 0.5rem
      .description
        max-width: initial