// This file powers error.jsx, which can be reused across our error pages.
  
.error-page-container
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin: 20px 0
  .error-image
    margin-bottom: 3em
  .email-error-image
      max-width: 72%
  .error-msg 
    background: secondary-background 
    border: 3px solid black
    border-radius: 10px
    *
      margin: 20px

@media(min-width: 700px)
  .error-page-container
    padding-top: 10em
    padding-bottom: 10em
    flex-direction: row
    .error-image
      margin-right: 3em
    .email-error-image
      margin-right: 0
    .error-msg
      margin-top: 0

      
// styles for index.ejs:
// To be consolidated with the above styles, once all error pages are in.
// There will always be a little special sauce here, since these styles have to work
// in a no-react environment.
#fallback
  #fallback-img
    padding: calc(20%) 0
    margin: 0 auto
  .error-msg 
    background: secondary-background 
    border: 3px solid black
    border-radius: 10px
    *
      margin: 20px

@media(min-width: 700px)
  #fallback
    main
      width: 700px
      position: absolute
      top: 40%
      left: 50%
      transform: translate(-50%, -40%)
    #fallback-img
      padding: 0
      float: left
      margin-right: 40px
    .error-msg
      float: left
      width: 350px
      margin-top: 65px
