.error-page
  color: white
  font-family: menlo
  font-weight: bold
  padding-left: 15px
  padding-right: 15px
  font-size: 80%
  position: relative
  height: 100vh
  max-width: 100%
  
  .container
    margin-top: calc(20%)
    text-align: center
    max-width: 425px
    margin-left: auto
    margin-right: auto

  h1
    margin-bottom: 2rem

  h2
    font-weight: normal

  .actions
    margin-top: 3em

    .button
      font-family: sans-serif

    .support-link
      color: warning

  #stars
    position: fixed
    top: 0
    left: 0
    z-index: -1
    background-color: black

.error-page-container
  .error-image
    padding: calc(20%) 0
    margin: 0 auto
  .error-msg 
    background: secondary-background 
    border: 3px solid black
    border-radius: 10px
    *
      margin: 20px

@media(min-width: 700px)
  .error-page-container
    main
      width: 700px
      position: absolute
      top: 40%
      left: 50%
      transform: translate(-50%, -40%)
    .error-image
      padding: 0
      float: left
      margin-right: 40px
    .error-msg
      float: left
      width: 350px
      margin-top: 65px

      