.search-results
  
  .search-filters
    margin-top: 1rem
    button
      .status-badge
        display: inline
        margin-left: 5px
        color: white;
        padding-top: 2px
        padding-right: 5px
        padding-bottom: 0
        padding-left: 5px
        border-radius: 5px
        background: tertiary
  
  .projects-container, .teams-container, .users-container
    overflow: initial
    border-radius: 5px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: flex-start
    >li
      width: calc(25% - 1rem)
      @media (max-width: hugeViewport)
        width: calc(25% - 1rem)
      @media (max-width: largeViewport)
        width: calc(33% - 1rem)
      @media (max-width: mediumViewport)
        width: calc(50% - 1rem)
      @media (max-width: mediumSmallViewport)
        width: 100%          
  
  .projects
    margin-top: 0
    padding: 0
    
    .project-options
      display: initial

    .project
      margin-bottom: 12px
    
    // > h2
    //   margin-bottom: calc(0.83em - 10px)
      
  .no-results
    margin-bottom: 2rem
    p
      margin: 0

// remove default search styling
input[type="search"],
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}