.secretPage
  background: url('https://cdn.glitch.com/02863ac1-a499-4a41-ac9c-41792950000f%2Fsecret.png?1535485687935'), #000
  background-position: center
  background-repeat: no-repeat
  height: 768px
  margin: 0
  
  ul
   margin: 0
   padding: 532px 0 0
   display: flex
   justify-content: center
   :nth-child(2)
     margin: 0 12px
   
   li
     width: 100px
     text-align: center

     button
       width: 100px
       text-align: center
       &.lit
         background: #FB994A

  .filler
    position: fixed
    background-color: black
    width: 100%
    height: 100%
    z-index: -1
    