.team-page

  .add-project-container
    position: relative

  .users-information .users
      display: inline
      min-height: 32px
      overflow: visible
      height: auto
      margin-right: 5px

  .whitelisted-domain-container
    vertical-align: middle
    margin-top: 4px
    margin-right: 5px

  .add-user-container
    position: relative
    vertical-align: top
    .button
      margin-top: 3px
  
  .join-team-button
    vertical-align: -2px
