.team-page
  
  .add-project-container
    position: relative

  .add-user-container
    position: relative
    vertical-align: middle

  .users-information
    line-height: 24px

  .whitelisted-domain-container
    vertical-align: middle
    margin-right: 5px
