.team-page

  .add-project-container
    position: relative

  .whitelisted-domain-container
    vertical-align: top
    margin-top: 5px
    margin-right: 5px

  .add-user-container
    position: relative
    vertical-align: top
    .add-user
      margin-top: 4px
      transition: all .2s
    .success
      background-color: success-background
    .users
      opacity: 0.5
  
  .join-team-button
    vertical-align: top
    margin-top: 3px
    
    
  .beta
    display: inline-flex
    background-color: beta
    font-size: 12px
    font-weight: bold
    padding: 6px 12px
    padding-bottom: 2px
    user-select: none
    border-radius: 5px
    margin-bottom: 10px
    a
      display: flex
      flex-direction: row
      text-decoration: none
    img
      padding-right: 10px
      height: 30px
    h4
      color: primary
      margin: 2px 0
    p
      margin-top: -5px
      margin-bottom: 0px 
      font-size: smaller
  .beta:hover 
    p
      text-decoration: underline