.user-page, .team-page
  .projects-container > li, .collections-container > li
    // Permit a 2-column layout on the user-page
    // in between mediumViewport and largeViewport
    @media (max-width: largeViewport)
      width: 48%

    @media (max-width: mediumViewport)
      width: 100%
      
  .projects, .collections
    padding: 0
    margin-bottom: 1.5rem
    overflow: visible
    display: inline-block

    .project-options
      display: block
    
    .slide-up
      animation: slideUp 0.1s ease-out
      animation-fill-mode: forwards

    .slide-down
      animation: slideDown 0.1s ease-out
      animation-fill-mode: forwards
  

.user-page
  .profile-info
    border-radius: 0px
    border-top-right-radius: 5px
    border-top-left-radius: 5px
  
  .user-avatar
    border-radius: 50%
    
  .teams-information
    background: secondary-background
    max-width: 460px
    padding: 1px 7px
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px
    .users
      margin: 0.5em 0
      > li
        margin-right: 7px
        
      
.team-page
  section
    position: relative
    
  .team-url
    color: text-on-secondary-background
    font-weight: 600
  
  .user-avatar
    border-radius: 5px 
    
  .users-information
    .users
      display: inline
    .user
      img.whitelisted-domain
        margin: auto
      
  .add-project-container
    position: relative

  .whitelisted-domain-container
    vertical-align: top
    margin-top: 5px
    margin-right: 5px
    margin-left: 5px

  .add-user-container
    position: relative
    vertical-align: top
    margin-left: 5px
    .add-user
      margin-top: 4px
      transition: all .2s
    .success
      background-color: success-background
    .users
      opacity: 0.5
  
  .join-team-button
    vertical-align: top
    margin-top: 3px
    
  .beta
    display: inline-flex
    background-color: beta
    font-size: 12px
    font-weight: bold
    padding: 6px 12px
    padding-bottom: 2px
    user-select: none
    border-radius: 5px
    margin-bottom: 10px
    a
      display: flex
      flex-direction: row
      text-decoration: none
    img
      padding-right: 10px
      height: 30px
    h4
      color: primary
      margin: 2px 0
    p
      margin-top: -5px
      margin-bottom: 0px 
      font-size: smaller
  .beta:hover 
    p
      text-decoration: underline
  
  .placeholder-mask
    position: absolute
    top: 25px
    left: 0
    right: 0
    bottom: 0
    background: linear-gradient(to bottom, rgba(255,255,255,0.2), white)
    pointer-events: none