.user-page
  
  .projects, .collections
    padding: 0
    margin-bottom: 1.5rem
    overflow: visible

    .project-options, .collection-options
      display: block

    .slide-up
      animation: slideUp 0.1s ease-out
      animation-fill-mode: forwards

    .slide-down
      animation: slideDown 0.1s ease-out
      animation-fill-mode: forwards

// .team-page