//smallViewport = 414px
//mediumViewport = 670px
//largeViewport = 900px

.featured-collections

  h2
    background-color: rgba(255,255,255,0.9) // So the graphic hurt text readibility on small screens
    border-radius: 5px
    margin-top: 0
    display: inline-block
    
  ul
    padding: 0
    margin-top: 0.5rem
    margin-bottom: 0
    
  li
    list-style-type: none
    display: inline-block
  
  .featured-items
    padding: 0
    margin-top: 0.5rem
    margin-bottom: 0
    display: flex
    overflow-x: auto
    @media (max-width: mediumViewport)
      flex-wrap: nowrap
      -webkit-overflow-scrolling: touch

    > li
      margin-right: 10px
      min-width: 220px
      text-shadow: black 0 0 4px
      &:last-child
        margin-right: 0

      -webkit-overflow-scrolling: touch

  .badge
    margin-left: 5px
        
  .community-pick-embed-container
    position: relative
    .witch
      position:absolute
      z-index: -1
      right: 0px
      top: -72px
      
    .glitch-embed-wrap
      //max-height: 500px !important //override the Embed's configurable height.
  
  .featured-container
    position: relative
    &:hover
      .project-name
        text-decoration: underline
    
    .project-name
      position: absolute
      margin: 0
      padding: 16px
      padding-bottom: 8px
      bottom: 0
      left: 0
      font-weight: 600
      color: white
      @media (max-width: largeViewport)
        font-size: 0.75rem
        padding: 10px
        padding-bottom: 2px

    .featured
      margin-right: 10px
      background-color: section-line
      display: block
      width: 100%
      max-width: 375px
      height: auto
      border-radius: 5px
      @media (max-width: largeViewport)
        max-width: 425px
      &:last-child
        margin-right: 0

        
// stuff for featured embed
.featured-embed
  .mask-container
    width: 450px
    .mask-4
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-4.svg")
      width: 100%
      height: 100%
      object-fit: cover
      -webkit-mask-size: contain
      -webkit-mask-repeat: no-repeat
      -webkit-mask-position: center
  .content
    background-color: #D0F1FF
    padding: 12px 20px
    box-shadow: 4px 4px #c3c3c3
    border-radius: 5px
    margin-top: -125px
    padding-top: 125px
    .description
      width: 50%
    .embed
      float: right