//smallViewport = 414px
//mediumViewport = 670px
//largeViewport = 900px
// hugeViewport = 1080px

.featured

  h2
    border-radius: 5px
    display: inline-block
    
  ul
    padding: 0
    margin-top: 0.5rem
    margin-bottom: 0
    
  li
    list-style-type: none
    display: inline-block
  
  .featured-items
    padding: 0
    margin-top: 0.5rem
    margin-bottom: 0
    display: flex
    overflow-x: auto
    @media (max-width: mediumViewport)
      flex-wrap: nowrap
      -webkit-overflow-scrolling: touch

    > li
      margin-right: 10px
      min-width: 220px
      text-shadow: black 0 0 4px
      &:last-child
        margin-right: 0

      -webkit-overflow-scrolling: touch

  .badge
    margin-left: 5px
        
  .community-pick-embed-container
    position: relative
    .witch
      position:absolute
      z-index: -1
      right: 0px
      top: -72px
      
    .glitch-embed-wrap
      //max-height: 500px !important //override the Embed's configurable height.
  
  .featured-container
    position: relative
    &:hover
      .project-name
        text-decoration: underline
    
    .project-name
      position: absolute
      margin: 0
      padding: 16px
      padding-bottom: 8px
      bottom: 0
      left: 0
      font-weight: 600
      color: white
      @media (max-width: largeViewport)
        font-size: 0.75rem
        padding: 10px
        padding-bottom: 2px

    .featured
      margin-right: 10px
      background-color: section-line
      display: block
      width: 100%
      max-width: 375px
      height: auto
      border-radius: 5px
      @media (max-width: largeViewport)
        max-width: 425px
      &:last-child
        margin-right: 0

        
// featured embed section 
.featured-embed
  a
    color: black
    font-weight: bold
  .learn-more
    font-size: smaller
  .mask-container
    width: 55%
    max-width: 450px
    @media (max-width: largeViewport)
      width: 55%
    @media (max-width: mediumViewport)
      width: 100%
    @media (max-width: smallViewport)
      margin: 0 auto
      width: 100%
    .mask
      width: 100%
      height: 100%
      object-fit: cover
      mask-size: contain
      mask-repeat: no-repeat
      mask-position: center
      mask-type: luminance
    .mask-1
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-1.svg")
    .mask-2
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-2.svg")
    .mask-3
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-3.svg")
    .mask-4
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-4.svg")
    .mask-5
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-5.svg")      
  .content
    padding: 115px 20px 20px 20px
    box-shadow: 4px 4px #c3c3c3
    border-radius: 5px
    margin-top: -100px
    padding-top: 100px
    .description
      width: 35%
      @media (max-width: hugeViewport)
        width: 45%
      @media (max-width: mediumViewport)
        width: 100%
        margin: 0 auto
  .glitch-embed-wrap
    float: right
    width: 55%
    height: 420px
    margin-top: -435px
    margin-right: 15px
    @media (max-width: hugeViewport)
      width: 45%
    @media (max-width: largeViewport)
      width: 40%
      margin-right: 20px
      margin-top: -430px
    @media (max-width: mediumViewport)
      width: 100%
      float: none
      margin: 1em 0 0