.inline-banners
  background-color: section-line
  max-width: 325px
  border-radius: 5px
  padding: 12px
  position: relative
    
  .description
    margin-bottom: 12px
  
  .add-project-container
    margin-bottom: 0
    margin-top: 1rem
    
  &.team-page
    position: initial
    font-size: medium
    font-weight: normal
    display: inline
    margin-left: 10px
    padding: 10px 15px
  
  &.add-project-to-empty-team-banner
    background-color: cta
    .description-container
      display: flex
      align-items: center
    .project-pals
      margin-right: 6px
      width: 90px
    .description
      margin-top: 0
      margin-bottom: 0