// more-ideas.styl

.more-ideas
  margin-top: 1rem
  ul
    padding: 0
    margin-bottom: 0

  li
    display: inline-block
    list-style-type: none
    margin-bottom: 10px
    width: calc(20% - 10px)
    margin-right: 10px
    &:hover
      .more-ideas-box-label
        text-decoration: underline
    @media (max-width: largeViewport)
      width: calc(25% - 10px)
    @media (max-width: mediumViewport)
      width: calc(100% / 3 - 10px)
    @media (max-width: mediumSmallViewport)
      width: calc(50% - 10px)
    @media (max-width: 300px)
      width: 100%

  .more-ideas-box
    background-color: lightgrey
    color: primary
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding-top: 15px
    padding-bottom: 15px
    border-radius: 5px
    font-size: 14px
    font-weight: 600
    height: 160px
    img, svg
      flex-grow: 1
      max-height: 95px
    &.dark
      color: white