.projects-container,
.collections-container
  display: grid
  grid-template-columns: 1fr
  grid-gap: 10px
  list-style-type: none

  @media (min-width: mediumViewport)
    grid-template-columns: 1fr 1fr 1fr
    li
      min-width: 33%
      

  li
    margin-top: 2px