analytics-app-views = #2077b4
analytics-remixes = #ff7f0f

.team-analytics
  position: relative
  section
    margin-top: 1rem

  .summary-item
    cursor: pointer
    &:hover
      .summary-label
        text-decoration: underline

  .controls
    margin: 0
    .button-wrap
      margin-right: 0.5rem

  .total
    border-radius: 3px
    padding: 3px 5px
    color: primary-background
    &.app-views    
      background-color: analytics-app-views
    &.remixes
      background-color: analytics-remixes

  .activity
    margin-bottom: 0

  progress
    display: block
    width: 100%
    margin-top: 2px
    margin-bottom: 0.5rem
    height: 5px
    
  .referrers
    margin-top: 0

  .referrers-content
    display: flex
    @media (max-width: smallViewport)
      display: block
    
  .referrers-column
    width: calc(50% - 20px) // change to 33% when new col added
    margin: 0
    margin-right: 20px
    &.app-views    
      progress
        &::-webkit-progress-value
          background-color: analytics-app-views
        &::-moz-progress-bar
          background-color: analytics-app-views
    &.remixes
      progress
        &::-webkit-progress-value
          background-color: analytics-remixes
        &::-moz-progress-bar
          background-color: analytics-remixes
    // @media (max-width: mediumSmallViewport)
    //   width: calc(50% - 20px)
    @media (max-width: smallViewport)
      width: 100%

  ul
    padding: 0
    margin: 1rem

  li
    list-style-type: none
    font-size: 14px

    
  h3
    margin-top: 0

  h4
    margin: 0
    margin-left: 1rem

  .project-details
    h4
      margin-bottom: 1rem
    
    table
      border-collapse: collapse
      margin-top: 0.5rem
      
    table,
    p
      font-size: 14px
    
    td
      padding-bottom: 3px
      
    .label
      padding-left: 0
      padding-right: 10px

    .baseproject-avatar
      width: 16px
      height: 16px
      margin-right: 3px
      vertical-align: text-bottom

    .up-arrow
      vertical-align: text-bottom
      
  .controls,
  .project-details
    button
    margin-left: 0
    margin-right: 5px
  
  .project-remixes a
    display: inline-block

  .explanation
    p
      max-width: 600px
      font-size: 14px
      color: secondary