.what-is-glitch
  height: 470px
  figure
    position: relative
    width: 45%
    height: 350px
    margin-top: 55px
    float: left
    img
      height: 100%
    h1
      position: absolute
      top: 51px
      right: 24px
      color: white
    .overlay-container
      position: absolute
      top: 250px
      left: 310px
    .video
      cursor: pointer
      .play-button
        vertical-align: -4px
        margin-right: 5px 
        height: 17px
        
  .callouts
    width: 43%
    float: right
    display: inline
    margin-right: 50px
    .callout
      position: relative
      &.discover
        .title
          background: #B8AFFF
        .window
          top: 85px
          left: 63px
      &.remix
        .title
          background: #FFAABF
        .badge
          top: 101px
          right: 20px
        .window
          top: 195px
          right: 25px
      &.collaborate
        .title
          background: #FCF3B0
        .badge
          top: 375px
          right: 132px
        .window
          top: 300px
      .badge
        position: absolute
      .window
        position: absolute
        width: 265px
        .title
          margin: 0
          padding: 10px 15px
          border: 2px solid black
          border-top-right-radius: 5px
          border-top-left-radius: 5px
          font-weight: 600
          .dot
            width: 15px
            height: 15px
            border-radius: 10px
            border: 2px solid black
            float: right
            margin: 2px 1px 0px
            &.green
              background: #05D458
            &.yellow
              background: #FCF3B0
            &.red
              background: #FF5F5F
            
        .description
          background: white
          padding: 15px 15px 25px
          border-left: 2px solid black
          border-bottom: 2px solid black
          border-right: 2px solid black
          border-bottom-left-radius: 5px
          border-bottom-right-radius: 5px

@media (max-width: largeViewport)
  .what-is-glitch
    height: 850px
    figure
      width: 88%
    .callouts
      width: 96%
      margin-right: 0px
      .callout
        .badge
          position: initial
          float: right
          margin-right: 18px
        .window
          position: initial
          width: 70%
          margin: 1em

@media(max-width: mediumViewport)
  .what-is-glitch
    figure
      width: 100%