.what-is-glitch
  margin: 2em 0

  figure
    position: relative
    width: 45%
    height: 350px
    img
      height: 100%
    h1
      position: absolute
      top: 51px
      right: 24px
      color: white

  .free
    width: 55px
    vertical-align: sub

  .video
    display: inline-block
    border: 0
    font-weight: normal
    font-size: 1em
    color: link
    cursor: pointer
    .play-button
      vertical-align: -6px
      margin-right: 5px
      margin-left: 2px
    &:hover
      text-decoration: underline

  p
    margin: 0