.zine-items
  display: flex
  flex-wrap: wrap
  margin: -0.25%

  .zine-item
    position: relative
    width: 24.5%
    margin: 0.25%
    @media(max-width: mediumViewport)
      width: 49.5%
    &:hover
      text-decoration: none
      .zine-item-title
        span
          border-color: primary
      .mask-container
        filter: drop-shadow(3px 3px 0px primary)
    &:active
      .mask-container
        filter: drop-shadow(1px 1px 0px primary)
    
    .mask-container
      min-height: 25%

    .mask
      width: 100%
      mask-type: luminance
      mask-repeat: no-repeat
      mask-position: center
      mask-size: contain
      display: block
      margin-left: auto
      margin-right: auto

    .mask-1
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-1.svg")
    .mask-2
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-2.svg")
    .mask-3
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-3.svg")
    .mask-4
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-4.svg")
    .mask-5
      mask-image: url("https://cdn.glitch.com/3cef6b25-69ba-4fa9-aa32-cff0fedce195%2Fmask-5.svg")

    .zine-item-meta
      background: secondary-background
      // z-index: -1
      padding: 12px
      padding-top: 23%
      border-radius: 5px
      width: 90%
      margin-left: auto
      margin-right: auto
      margin-top: -20%
    
    .zine-item-tag
      font-size 14px
      color: tertiary
      margin: 0
      margin-top: 2px
      span
        border-bottom: 1px solid transparent

    .zine-item-title
      font-size: 16px
      font-weight: 600
      margin: 0
      color: primary
      span
        border-bottom: 1px solid transparent
