.zine-items
  display: flex
  flex-wrap: wrap
  margin: -0.25%

  .zine-item
    position: relative
    width: 24.5%
    margin: 0.25%
    @media(max-width: medium-viewport-width)
      width: 50%
    &:hover
      text-decoration: none
      .zine-item-title
        span
          border-color: primary
      .mask-container
        filter: drop-shadow(3px 3px 0px primary)
    &:active
      .mask-container
        filter: drop-shadow(1px 1px 0px primary)

    .mask
      width: 100%

    .zine-item-meta
      background: secondary-background
      // z-index: -1
      padding: 12px
      padding-top: 23%
      border-radius: 5px
      width: 90%
      margin-left: auto
      margin-right: auto
      margin-top: -20%
    
    .zine-item-tag
      font-size 14px
      color: tertiary
      margin: 0
      margin-top: 2px
      span
        border-bottom: 1px solid transparent

    .zine-item-title
      font-size: 16px
      font-weight: 600
      margin: 0
      color: primary
      span
        border-bottom: 1px solid transparent
