@require '../../../styles/globals'

tooltip-background = rgba(0,0,0,0.95)

.touch .tooltip
  display: none
    
.tooltip-container
  position: relative
  box-sizing: border-box
  display: inline-block

.tooltip
  border: none
  box-sizing: inherit
  display: inline-block
  pointer-events: none
  position: absolute
  z-index: 9
  transform: translateX(50%)
  right: 50%
  top: 100%
  width: auto
  padding: 6px 8px
  margin-top: 5px
  font-style: normal
  font-weight: normal
  text-align: center
  text-decoration: none
  text-shadow: none
  text-transform: none
  background: tooltip-background
  border-radius: 5px
  font-family: sansserif
  font-size: 12px
  color: primary-background
  white-space: pre
  word-wrap: break-word

.tooltip::before
  position: absolute
  content: ''
  display: block
  height: 100%
  left: 50%
  transform: translateX(-50%) translateY(-100%)
  margin-top: -6px;
  box-sizing: border-box
  border: 5px solid transparent
  border-bottom-color: tooltip-background

.tooltip.top
  margin-top: -12px
  transform: translateX(50%) translateY(-200%)
  
.tooltip.top::before
  border-top-color: tooltip-background
  border-bottom-color: transparent
  margin-top: -6px
  transform: translateX(-50%) translateY(100%)
  
.tooltip.left,
.tooltip.left::before
  left: 0
  right: initial
  transform: translateX(0)
  
.tooltip.left::before
  left: 10px
  transform: translateX(0) translateY(-100%)
  
.tooltip.right,
.tooltip.right::before
  left: initial
  right: 0
  transform: translateX(0)

.tooltip.right::before
  right: 10px
  transform: translateX(0) translateY(-100%)

.tooltip.top.right,
.tooltip.top.left
  transform: translateX(0) translateY(-200%)
  &::before
    transform: translateX(0) translateY(100%)

.tooltip.persistent
  font-weight: bold
  
// custom tooltips
.tooltip.new-stuff
  background-color: notification
  right: 32px
  top: 110%
  
.tooltip.new-stuff::before
  border-top-color: notification
  border-bottom-color: transparent 
