button {
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: #fff;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  padding-bottom: 5px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

button .cta {
  color: #222;
  background-color: #83ffcd;
  -webkit-box-shadow: 4px 4px 0 #222;
  box-shadow: 4px 4px 0 #222;
  margin-bottom: 2px;
}