.smallLink
  display: block
  color: inherit
  border-radius: 1rem
  overflow: hidden
  
.smallNameDescriptionArea
  padding: 1rem
  
.nameArea
  display: flex
  align-items: center
  svg
    width: 40px
    height: auto
    margin-right: 0.5rem
  
.smallProjectCount
  background-color: #eee
  padding: 0.5rem 1rem
  font-weight: 600