.bubbleContainer
  display: block
  position: relative
  color: inherit
  border-radius: 0.5rem
  &:hover
    text-decoration: none
  &:after
    content: ""
    position: absolute
    width: 0
    height: 0
    left: 8px
    bottom: 100%
    border-color: inherit
    border-bottom-width: 6px
    border-bottom-style solid
    border-left: 6px solid transparent
    border-right: 6px solid transparent
  
.smallNameDescriptionArea
  padding: 1rem
  
.nameArea
  display: flex
  align-items: center
  
.collectionAvatarContainer
  width: 40px
  margin-right: 0.5rem
  svg
    width: 100%
    height: auto
  
.smallProjectCount
  background-color: #eee
  padding: 0.5rem
  font-weight: 600
  border-radius: 0 0 0.5rem 0.5rem
  &:hover
    text-decoration: underline
  
.placeholderAvatar
  width: 32px
  height: 32px
  border-radius: 50%
  background-color: #eee
  
.curator
  height: 32px
  margin-bottom: 0.5rem
  img
    height: 100%
    width: auto
    display: block
  