deleted-project-avatar-size = 32px

.deleted-projects
  display: block

  .deleted-projects-container
    list-style-type: none
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
  
  .deleted-project-container
    flex: 1 0 235px
    margin-bottom: 12px
    margin-right: 10px
    &:hover
      .button
        background-color: secondary-background
        box-shadow: 2px 2px 0 primary
    &:active
      .button
        background-color: secondary-background-active
        box-shadow: none
      
  .deleted-project
    background-color: #e5e5e5
    border-radius: 5px
    height: 90px
    padding: 12px

    .avatar
      margin-right: 7px
      border-radius: 5px
      vertical-align: top
      display: inline
      width: deleted-project-avatar-size
      height: deleted-project-avatar-size
      max-width: deleted-project-avatar-size

    .deleted-project-name
      display: inline-block
      margin-top: 6px
      margin-left: 6px
      max-width: calc(100% - 55px)
      font-weight: 600
      font-size: 14px
      height: 34px
      overflow: hidden
    
    .button
      
      
  .slide-up
    animation: slideUp 0.1s ease-out
    animation-fill-mode: forwards