anonAvatar = "https://cdn.gomix.com/01a72eba-647e-4abf-abe6-89b02e388a7f%2Fanon-avatar.svg"

.profile-container
  position: relative
  border-radius: 5px
  padding: 16px
  // overflow: auto
  background-size: 100%
  background-position: center
  
  .profile-info
    width: 100%
    max-width: 460px
    background-color: section-line
    border-radius: 5px
    padding: 12px
    .user-avatar-container
      .user-avatar
        width: 35%
        padding-bottom: 35%
        display: inline-block
        margin-bottom: 2px
        vertical-align: top

      .profile-information
        display: inline-block
        width: 65%
        padding-left: 16px
        vertical-align: middle
        > *
          margin: 0
          margin-bottom: 12px
          width: 100%
          p
            margin: 0

  .user-avatar-container
    width: 100%

  .user-avatar
    position: relative
    height: 0
    padding-bottom: 100%
    margin-bottom: 1rem
    border-radius: 5px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    
    &:not(:hover)
      .upload-image-buttons
        visibility: hidden

  .projects
    display: inline
    padding: 0
  
  .projects-container
    overflow: hidden
    
  .project
    &:hover,
    &:active
      button
        background-color: cta
    &:after
      border-bottom-color: section-line
  
  .sparkling_heart
    width: 18px
    height: 18px

  .upload-image-buttons
    position: absolute
    top: 5px
    right: 5px
    
    button
      margin-left: 5px


.recent-projects

  .profile-info
    margin: 0
    display: inline-block    
      
  .user-avatar-container
    @media(max-width: 800px)
      display:none

  
  .projects
    display: inline-block
    margin: 0
    width: 78%
    @media(max-width: 800px)
      width: 100%

  .anon-user-sign-up
    position: relative
    width: 80%
    
    @media(max-width: 800px)
      width: 100%
      margin-bottom: 1rem
    
    .sign-in-pop
      left: 0px
      top: 26px
      