.users
  display: inline-flex
  margin-bottom: 8px
  padding: 0;
  vertical-align: middle
  flex-wrap: wrap
  > li
    display: inline-grid

  .user-list-avatar
    display: block
    width: 32px
    height: 32px
  > :first-child .user-list-avatar
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
  > :last-child .user-list-avatar
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px

  .made-by-glitch
    border-radius: 5px
    cursor: default

.user-names
  display: inline-block
  margin-left: 6px
  font-size: 14px
  margin-bottom: 10px;

.team-users
  display: none
