.users
  display: inline-flex
  margin: 0 0 8px
  padding: 0;
  vertical-align: middle
  flex-wrap: wrap
  min-height: 32px
  > li
    display: inline-grid
    &:first-child .user
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
    &:last-child .user
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
  
  .user
    border-radius: 0

  .user-list-avatar
    display: block
    width: 32px
    height: 32px
    border-radius: inherit

  .made-by-glitch
    border-radius: 5px
    cursor: default

.user-names
  display: inline-block
  margin-left: 6px
  font-size: 14px
  margin-bottom: 10px;
