@require '../constants'

.segmentedButtons
  margin-bottom: 12px
  button
    margin: 0
    &:first-child
      border-top-right-radius: 0
      border-bottom-right-radius: 0
    &:last-child
      border-left: 0
      border-top-left-radius: 0
      border-bottom-left-radius: 0
    &:not(:first-child):not(:last-child)
      border-radius: 0px
      border-left: 0
    &.active
      background: secondary-background-active
    &.active:hover
      background-color: secondary-background-hover
    &:focus
      outline: none
      background-color: secondary-background