.resultContainer
  display: flex
  flex-direction: row
  align-items: center

.avatarContainer
  flex: 0 0 100px

.infoContainer
  flex: 1 0 auto
  font-size: 14px

.infoPrimary
  font-weight: bold

.memberContainer
  flex: 0 0 200px
