.search-results
  .no-results
    margin-bottom: 2rem
    p
      margin: 0
      
.search-resullts__show-all-button
  margin-top: 10px    
    
.search-results__group-container
  padding-bottom: 3rem

.search-results__results-container
  display: grid
  grid-template-columns: 1fr
  grid-gap: 10px
  list-style-type: none
  padding: 0  
  @media (min-width: mediumSmallViewport)	
    grid-template-columns: 1fr 1fr
  @media (min-width: mediumViewport)	
    grid-template-columns: 1fr 1fr 1fr
  @media (min-width: largeViewport)	
    grid-template-columns: 1fr 1fr 1fr 1fr
    
.search-results--top-results
  border-bottom: 1px solid #ccc
  padding-bottom: 2rem
  margin-bottom: 2rem