li
  - if @link()
    a(href=@link)
      .featured-container(data-track="featured project" data-track-label=@title)
        img.featured(@src title=@imgTitle alt="")
        p.project-name= @title
  - else
    span
      .featured-container(data-track="featured project" data-track-label=@title)
        img.featured(@src title=@imgTitle alt="")
        p.project-name= @title
