header(role="banner")
  .header-info
    a(href=@baseUrl)
      img.logo(src=@logo alt="Glitch")

  nav(role="navigation")  
    form(action="#{@baseUrl}search" method="get" role="search" @submit)
      label.screen-reader-text(for="search-projects") Search Glitch projects
      input.search-input(name="q" id="search-projects" placeholder="bots, apps, users" value=@application.searchQuery)

    =@NewProjectPop
    
    span(class=@hiddenIfSignedIn)
      =@SignInPop
    a(href="https://glitch.com/edit/" data-track="resume coding" class=@hiddenUnlessSignedIn)
      .button.button-small.button-cta Resume Coding
    = @UserOptionsPop
