- Loader = require "./loader"

section.profile.recent-projects(class=@hiddenUnlessCurrentUser)
  h2
    a(href=@userLink)
      span Your Projects →
  .profile-container(@style)
    .profile-info
      .user-avatar-container
        a(href=@userLink)
          .user-avatar(class=@userAvatarIsAnon style=@userAvatarStyle alt="Your avatar")
    article.projects
      span(class=@hiddenIfUserIsFetched)
        = Loader(this)

      ul.projects-container
        = @projects

        - unless @currentUser.isSignedIn()
          li
            .project.anon-user-sign-up.opens-pop-over(click=@toggleSignInPopVisible)
              p Access all your projects anywhere
              button Sign in
              span(class=@hiddenUnlessSignInPopVisible)
                = @SignInPop
    