// overflow visible to team-user-avatar so that pop can show
.user.team-user-avatar(title=@login data-tooltip=@tooltipName data-tooltip-left=true @style)
  img(width=32 height=32 src=@avatarUrl @alt click=@toggleUserInfoPop)
  .button-borderless(click=@toggleUserInfoPop)
    .down-arrow

  = @UserInfoPop
