.button,
button
  text-align: left
  font-size: 14px
  line-height: 14px
  font-weight: 600
  background-color: white
  border: solid primary 2px
  display: inline-block
  border-radius: 5px
  padding: 6px 12px
  padding-bottom: 5px
  cursor: pointer
  position: relative
  vertical-align: middle
  &.danger-zone
    background-color: warning-background
  &:hover
    background-color: secondary-background
    text-decoration: none
  &:active,
  &.active
    background-color: secondary-background-active
    color: primary
  &.has-emoji
    padding-top: 5px
    padding-bottom: 5px
  img
    vertical-align: bottom

  &[disabled]
    opacity: .5
    pointer-events: none
    cursor: pointer
    color: primary 

.button-link
  color: primary
    
.button-cta
  color: primary
  background-color: cta
  box-shadow: 4px 4px 0 primary
  margin-bottom: 2px
  &:hover
    background-color: cta
    box-shadow: 2px 2px 0 primary
  &:active
    background-color: cta
    box-shadow: none
.button-small
  font-size: 12px
  padding: 3px 8px
  padding-top: 5px
  &.has-emoji
    padding-top: 3px
    padding-bottom: 3px
    .status-badge
      margin-right: 3px
  .loader
    width: 15px
    height: 15px
    margin-right: 0
  .status-badge
    display: inline
    margin-left: 1px

.button-tertiary
  color: tertiary
  border-width: 1px
  border-color: secondary
  cursor: pointer
  display: inline-block
  .loader
    width: 13px
    height: 13px
    margin-right: 0
  &:hover
    color: primary
    border-color: line-on-secondary-background
  .status-badge
    display: inline
    margin-left: 4px

.button-on-secondary-background
  color: text-on-secondary-background
  border-color: line-on-secondary-background
  background-color: secondary-background
  &:hover
    color: primary
    background-color: secondary-background-active
  &:active,
  &:focus
    border-color: primary

.button-borderless
  cursor: pointer
  display: inline-block
  padding-right: 5px
  position: relative
  &:hover
    opacity: 1;
    background-color: #eaeaea;
    border-radius: 5px;
    border: none;
    .down-arrow
      opacity: 1

button.button-unstyled
  margin: 0 !important
  border-radius: 0
  padding: 0
  border: none
  background: none
  font-weight: normal

button.link
  vertical-align: unset

.button-checkbox
  width: auto
  margin-top: 2px
  margin-right: 5px
  margin-left: 0px
  vertical-align: middle
  display: inline-block
    
// .button-select
//   appearance: none
//   padding-right: 4px
//   padding-top: 3px
//   padding-bottom: 4px

.button-area
  &:hover .button
    background-color: secondary-background
    box-shadow: 2px 2px 0 primary
  &:active .button
    background-color: secondary-background-active
    box-shadow: none

.button-wrap
  display: inline-block
  position: relative

.segmented-buttons
  margin-bottom: 12px
  button
    &:first-child
      border-top-right-radius: 0
      border-bottom-right-radius: 0
    &:last-child
      border-left: 0
      border-top-left-radius: 0
      border-bottom-left-radius: 0
    &:not(:first-child):not(:last-child)
      border-radius: 0px
      border-left: 0
