deleted-project-avatar-size = 32px

.deleted-projects
  display: block

  .deleted-projects-container
    list-style-type: none
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
  
  .deleted-project-container
    flex: 1 1 235px
    margin-bottom: 12px
    margin-right: 10px
    button
      width: 100%
    &:hover
      .button
        background-color: secondary-background
        box-shadow: 2px 2px 0 primary
    &:active
      .button
        background-color: secondary-background-active
        box-shadow: none
      
  .deleted-project
    background-color: #e5e5e5
    border-radius: 5px
    padding: 12px

    .avatar
      border-radius: 5px
      width: deleted-project-avatar-size
      height: deleted-project-avatar-size
      margin-right: 12px
      float: left

    .deleted-project-name
      min-height: deleted-project-avatar-size
      margin-bottom: 6px
      font-weight: 600
      font-size: 14px
      display: flex
      flex-direction: column
      justify-content: center
      
  .slide-up
    animation: slideUp 0.1s ease-out
    animation-fill-mode: forwards