.dropdown
  font-family: sansserif
  font-weight: 600
  font-size: 12px
  margin: 10px 0px
  border-radius: 5px
  &.user-or-team-toggle
    display: inline-block
    margin-left: 5px
    margin-top: 0
  span
    vertical-align: bottom
    img
      margin-left: 2px
      width: 18px
      height: 18px
      vertical-align: bottom
      &.user-avatar
        border-radius: 50%
  .dropdown__control
    border: 2px solid primary
    min-height: fit-content
    &:hover
      border-color: primary
      cursor: pointer
  .dropdown__value
    padding: 4px 8px
  .dropdown__value-container
    padding: 2px 0px 2px 8px
  .dropdown__single-value
    width: fit-content
    max-width: 250px
    position: initial
    transform: initial    
  .dropdown__menu
    top: 20px
    border: 1px solid solid #CCC
    box-shadow: pop-shadow
    min-width: 150px
  .dropdown__option
    padding: 8px 12px
    margin: 0
    border-bottom: 1px solid input-border
    color: primary
    &--is-selected
      background: general-link !important
      color: primary-background  !important
    &--is-focused
      background: secondary-background-active
      color: primary
    &:hover
      background: secondary-background-active
      cursor: pointer
  .dropdown__indicator-separator
    display: none
  .dropdown__dropdown-indicator
    color: primary
    padding: 0 8px 0px 0px
  