.emoji
  width: 16px
  height: 16px
  display: inline-block
  vertical-align: sub
  background-repeat: no-repeat
  background-size: contain
  &.ambulance
    background-image: url('https://cdn.glitch.com/cc880f8d-a84f-4909-b676-497522a8c625%2Fambulance.png?1522348095546')
  &.balloon
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fballoon.png")

  &.bento-box
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fbento-box.png?1502469566743')
  &.bomb
    background-image: url('https://cdn.glitch.com/f34c5d19-c958-40f6-b11f-7a4542a5ae5f%2Fbomb.png?1516646116574')
  &.bouquet
    background-image: url('https://cdn.glitch.com/1afc1ac4-170b-48af-b596-78fe15838ad3%2Fbouquet.png?1541454729552')

  &.carp_streamer
    background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fcarp_streamer.png?1495811307116")
  // &.cherry_blossom
  //   background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fcherry_blossom.png?1500406466871')
  //   vertical-align: top
  //   margin-left: 2px
  // &.clock
  //   background-image: url('https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Fclock.png?1528143245513')
  // &.crown
  //   background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fcrown.png?1496334299094")
  //   vertical-align: -3px
  //   margin-left: 1px
  &.credit_card
    background-image: url("https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Fcredit-card.png?1531500270157")
  &.dog-face
    background-image: url('https://cdn.glitch.com/03736932-82dc-40e8-8dc7-93330c933143%2Fdog-face.png?1518194896589')
  &.eyes
    background-image: url('https://cdn.glitch.com/9c72d8a2-2546-4c4c-9e97-2e6450752c11%2Feyes.png?1507674700306')
  &.facebook
    background-image: url("https://cdn.gomix.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Ffacebook-logo.png")
    width: 15px
    margin-left: 4px
  &.fast-down
    background-image: url('https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Ffast_down.png?1531842090363')
  &.fast-up
    background-image: url('https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Ffast_up.png?1531842090613')    
  &.herb
    background-image: url('https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Fherb.png?1530822265585')
  &.microphone
    background-image: url('https://cdn.glitch.com/9c72d8a2-2546-4c4c-9e97-2e6450752c11%2Fmicrophone.png?1507674704246')
  &.octocat
    background-image: url("https://gomix.com/images/emojis/github-logo-light.svg")
    margin-left: 4px
  &.sparkles
    background-image: url("https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fsparkles.png?1494859430570")
    // vertical-align: -3px
  &.pushpin
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fpushpin.png?1500918744339')
  &.thumbs_down
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fthumbs_down.png?1503415943993')
  &.thumbs_up
    background-image: url('https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Fthumbs-up.png?1530883108902')
  &.framed_picture
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fframed_picture.png?1496341054682')
    margin-left: 2px
    margin-bottom: 1px
  &.sparkling_heart
    background-image: url('https://cdn.glitch.com/f7224274-1330-4022-a8f2-8ae09dbd68a8%2Fsparkling_heart.png?1496347645716')
  &.wave
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Fwave.png?1502123444938')
  &.rainbow
    background-image: url('https://cdn.glitch.com/e5154318-7816-4ec9-a72a-a0e767031e99%2Frainbow.png?1533590257352')
  &.fishing_pole
    background-image: url('https://cdn.glitch.com/55f8497b-3334-43ca-851e-6c9780082244%2Ffishing_pole.png?1503525896764')
  &.microphone
    background-image: url('https://cdn.glitch.com/180b5e22-4649-4c71-9a21-2482eb557c8c%2Fmicrophone.png?1521056710182')
  &.framed-picture
    background-image: url('https://cdn.glitch.com/c185d921-3271-4182-bf6c-6cba2f40f693%2Fframed-picture.png?1536173383980')
  &.diamond_small
    background-image: url('https://cdn.glitch.com/180b5e22-4649-4c71-9a21-2482eb557c8c%2Fdiamond-small.svg?1521574997856')
  &.email
    background-image: url('https://cdn.glitch.com/aebac4f9-ae14-4d54-aa60-de46dac3b603%2Femail.png?1544048218028')
  &.sick
    background-image: url('https://cdn.glitch.com/4f4a169a-9b63-4daa-8b6a-0e50d5c06e25%2Fface-with-thermometer_1f912.png?1545248970931')
  &.park
    background-image: url('https://cdn.glitch.com/4f4a169a-9b63-4daa-8b6a-0e50d5c06e25%2Fnational-park_1f3de.png?1545249042752')
  &.avatar
    border-radius: 3px
    margin-left: 2px
  &.emoji-in-title
    width: 20px
    height: 20px
    margin-left: 5px
