$input-padding = 4px 0px 2px 0px

input
  border-color: input-border
  width: 200px
  // height: 25px
  border-radius: 3px
  border-style: solid
  border-width: 1px
  padding: $input-padding
  padding-left: 10px
  font-size: 13px
  background-repeat: no-repeat
  background-position: right 5px center
  transition: all .1s
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

.search-input, .replace-input, .create-input
  border-color: input-border
  max-width: 600px
  border-radius: 3px
  border-style: solid
  border-width: 1px
  padding-left: 10px
  font-size: 13px
  transition: all .1s
  background-color: primary-background
  vertical-align: middle
  background-repeat: no-repeat
  background-position: right 5px center
  &:focus
    box-shadow: 0px 0px 3px 0px input-border-focused

.search-input, .replace-input
  background-image: url(search)

.pop-over-input
  position: relative
  background-color: transparent
  font-weight: bold
  // padding: 0
  // padding-bottom: 2px
  // line-height: 17px
  border: none
  border-bottom: 1px solid secondary
  width: 100%
  color: primary

.pop-over-search, .create-input
  width: 100%
  margin-left: 0
  background-color: primary-background
  border-color: input-border
  font-weight: normal
  // background-image: none
  padding-left: 6px
  // padding-bottom: initial
  border: 1px solid input-border

.create-input
  width: 79%
  margin-right: 10px
  
.content-editable
  padding-left: 0
  font-family: monospace
  font-size: inherit
  font-weight: inherit
  cursor: text
  border: none
  border-radius: 0
  border-bottom: 1px solid line-on-secondary-background
  background: none
  resize: none
  width: 100%
    
  &:empty:before
    content: attr(placeholder)
    color: text-on-secondary-background
    display: block /* For Firefox */

  &.error
    border-color: warning

.content-editable-affix
    padding: $input-padding
    width: auto
  
.editable-field-flex
  position:relative
  display: flex
  .content-editable
    min-width: 0

.editable-field-error-icon
  position: absolute
  right: 0px
 
.editable-field-error-message
  width: 100%
  color: error-text
  background-color: error
  display: block
  position: relative
  padding: 3px 6px
  border-radius: 5px
  border-top-left-radius: 0
  border-top-right-radius: 0
  font-weight: 600
  font-size: 0.8rem
  .editable-field-error-icon
    bottom: 100%
    font-size: 22px