.more-collections
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 10px
  a
    &:hover
      text-decoration: none  
  
  @media (max-width: mediumViewport)
    grid-template-columns: 1fr
  
  li
    list-style: none
    
  .collection
    height: 175px
  
    .collection-name-description
      margin-left: 0
  
  .projects-count
    padding: 12px