.more-collections
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 10px
  
.more-collections-item
  border-radius: 5px
  button
    margin: 12px
  p
    margin: 12px

.projects-count
  background-color: secondary-background
  padding: 12px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px