.note
  margin-bottom: -15px
  
  .description-container
    width: calc(100% - 36px)
    position: relative
    display: inline-block
    padding: 0px 10px 20px
    border-radius: 5px
    font-size: 14px
    word-break: break-word
    &:after
      top: 9px
      right: -10px
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
      border: solid transparent
      border-width: 5px
      border-left-color: inherit
    textarea
      margin: 14px 0
      line-height: 20px
    p 
      margin: 8px 3px
      line-height: 20px
      word-break: break-word
    .description
      overflow-x: hidden
  .user
    position: absolute
    top: 0
    right: 0
    float: right

  .dark
    color: white
    textarea
      color: white
    a
      color: white
      text-decoration: underline