.note
  .descriptionContainer
    width: 79%
    display: inline-block
    padding: 0px 10px
    border-radius: 5px
    font-size: 14px
    min-height: 115px
    margin-bottom: 10px
    word-break: break-word
    margin-bottom: -30px
    &:after
      top: 9px
      left: 79%
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
      border: solid transparent
      border-width: 5px
      border-left-color: inherit
    textarea
      margin: 14px 0
      line-height: 20px
    .content-editable
      &:empty:before
      content: attr(placeholder)
      color: text-on-secondary-background
      display: block /* For Firefox */

  .user
    float: right

  .dark
    color: white

    textarea
      color: white