details.popover-container
  display: inline-block
  position: relative
  > summary
    list-style: none
    cursor: pointer
    &::-webkit-details-marker
      display: none
    &:not([data-tooltip])::before
      display: none
  &[open] > summary::after
    display: none
  &:not([open]) > :not(summary)
    display: none
  > .pop-over
    top: 100%
    left: 0
    
.pop-over
  text-align: left
  background-color: background-color
  font-size: 14px
  margin: 0
  cursor: initial
  display: block
  position: absolute
  top: 55px
  left: initial
  border-radius: 3px
  border: 1px solid secondary
  box-shadow: pop-shadow
  z-index: 10
  width: 255px
  padding: 0
  button
    margin-left: 0
  p
    color: primary
    font-weight: normal
    margin-bottom: 10px
  section, .pop-over-section, >form
    color: primary
    padding: 14px 12px
  section, .pop-over-section
    &:first-child
      border-top-left-radius: 3px
      border-top-right-radius: 3px
    &:last-child
      border-bottom: none
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px
  aside
    color: text-on-secondary-background
    font-size: 12px
    text-align: center
    padding: 10px 12px

  .results-list
    padding: 6px
    
  .clickable-label
    width: 100%
    display: flex
    align-items: center
    .back
      background-color: transparent
      vertical-align: middle
      padding: 0px 4px 3px
      opacity: 0.7
      width: auto
    &:hover,
    &:focus,
    &:active
      .back
        opacity: 1
        border-radius: 5px
        border: none
    &:hover,
    &:focus
      .back
        background-color: secondary-background-hover
    &:active
      .back
        background-color: secondary-background-active
            
  .description-section
    margin: 0
    padding: 0
    padding-bottom: 4px

  .description
    margin-top: 2px
    margin-bottom: 12px

  .pop-over-info
    margin: 0
    background-color: secondary-background
    border-bottom: 1px solid secondary
    .pop-title
      max-width: 300px
      font-size: 14px
      font-weight: bold
      display: inline-block
      vertical-align: middle
      &.collection-title
        font-size: 12px
        margin-bottom: 10px
    &.last-section
      border-bottom: none
    .info-description
      margin-top: 0
      margin-bottom: 0
      line-height: 17px

  .pop-over-actions
    margin: 0
    border-bottom: 1px solid secondary
    position: relative
    .action-description
      line-height: 17px

  .emoji
    display: inline-block
  .button, button
    display: inline-block
    margin-bottom: 12px
    margin-left: 0
    max-width: initial
    &:last-child
      margin: 0
  .button-small
    margin-bottom: 10px
  .button-link
    color: #000
  button:last-child
    margin-bottom: 0
  &.last-section
    border-bottom: none

  .danger-zone
    background-color: warning-background

.sign-in-pop
  width: 205px
  right: 0
  top: 26px;
  .action-description
    margin-top: 0

.user-options-pop
  right: 0
  top: 25px
  width: 180px
  .user-info
    padding-bottom: 12px
    padding-top: 12px
  
.create-team-pop
  right: 0
  top: 25px
  width: 200px
  .info-description
    margin: 0
  form
    margin: 0
  .team-url-preview
    font-family: monospace
    font-size: 13px
    color: tertiary
    margin-top: 12px
    margin-bottom: 12px
  .loader
    margin-left: 0
  .editable-field-error-icon
    top: 6px
  .content-editable
    padding-left: 5px

.project-options-pop, .collection-options-pop
  right: 0
  top: 22px
  width: 185px

.cta-pop
  left: 2px
  top: 26px
  width: 215px

.team-user-info-pop
  left: 2px
  top: 28px  
  
.team-user-info-pop, .user-options-pop
  section:first-child
    border-bottom: 1px solid secondary
    border-radius: 0
    background-color: #f5f5f5
    
  .pop-over-actions
    .user-info
      .avatar
        width: 30px
        height: 30px
      
  .pop-over-info.user-info
    .avatar
      width: 44px
      height: 44px
  .pop-over-actions.user-info, .pop-over-info.user-info
    .avatar
      border-radius: 8px
      vertical-align: middle
      margin-right: 10px
    .info-container
      display: inline-block
      vertical-align: middle
    
  .pop-over-info, .pop-over-actions
    .name,
    .user-login
      margin: 0
    .name
      font-weight: bold
    .user-login
      font-weight: 600
      color: text-on-secondary-background
    .thanks
      margin: 0 !important
    .button-wrap
      margin-bottom: 10px
      display: block

.collection-pop-over        
  display: block
  height: 30px
  .collection-options-pop
    width: 165px
.add-collection-project-pop, .add-collection-avatar-pop
  left: 0px
  top: 27px
  @media(max-width: mediumViewport)
    left: initial
    left: 0
.add-project-to-collection-pop
  .pop-over-info
    img
      width: 15px
      border-radius: 3px
  form
    label
      width: 79%
      float: left
      margin-right: 10px;
    input
      background-color: white
      border: 1px solid #ccc
      padding: 4px 6px
      border-radius: 3px
      margin-bottom: 5px
    .create-collection
      margin: 0
    .url-preview
      font-family: monospace
      font-size: smaller
      color: tertiary
      margin: 0
      clear: both
  .pop-over-actions
    max-height: 300px
  li
    &:last-child
      .result-collection
        border-bottom: none
.add-collection-avatar-pop  
  min-width: 330px !important
  
  .collection-avatar 
    margin: 0 5px 5px
    img
      width: 65px
      height: 65px

.edit-collection-color-pop
  top: 27px
  left: 0px
  width: 154px
  .pop-over-info
    display: flex
  button
    margin-right: 2px
    margin-bottom: 2px
  button.active
    border-color: black
  .custom-color-input
    width: 82%
    #color-picker-hex
      width: 90%;
      margin-left: 5px;
      height: 23px
    #color-picker-hex.active
      border-color: black
    .editable-field-error-message
      width: 90%
      display: none
      float: right
      margin-right: 5px
      margin-top: -3px
  .color-picker
    width: 24px
    height: 22px
    padding: 0px    
    border: 1px solid input-border
    &:hover
      border: 1px solid secondary
      cursor: pointer
  input[type="color"]::-webkit-color-swatch 
    border: none    
  button.custom-color
    margin-left: 2px
  .pop-over-action
    margin: 0
    border-top: 1px solid #9b9b9b
    border-bottom: 1px solid #9b9b9b
.add-team-user-pop
  left: 5px
  top: 26px
  @media(max-width: mediumViewport)
    left: initial
    right: -100%

.add-team-project-pop
  left: 2px
  top: 26px
  .segmented-buttons
    button
      margin: 0
  .no-projects-description
    margin: 6px
  
.analytics-projects-pop
  top: 22px
  left: 8px
  .results
    .result
      border-radius: 3px
    .result-container
      &:hover
        .result
          background-color: general-link
      &:active,
      &.active
        .result
          background-color: general-link
    .result-avatar
      width: 40px
      margin-right: 10px
      vertical-align: middle
    .result-information
      display: inline-block
      width: 76%
      vertical-align: top
    .users
      display: block
      margin-bottom: 3px
      project-result-avatar-size = 22px
      .user
        width: project-result-avatar-size
        height: project-result-avatar-size
        img
          width: project-result-avatar-size
          height: project-result-avatar-size
    .result-name
      margin-left: 0 

.analytics-time-pop
  top: 22px
  left: 8px
  .result-container
    padding-top: 3px
  .result
    &:hover
      background-color: general-link
    &:active,
    &.active
      background-color: general-link

.new-project-pop
  top: 26px
  @media(max-width: smallViewport)
    right: 0px
    max-width: 200px
  .view-result-link
    display: none
  .avatar
    width: 22px
    height: 22px
    margin-right: 10px
  .results-info
    width: 100% !important

.delete-team-pop
  top: 22px
  left: 8px
  margin-bottom: side-padding
  .users 
    margin: 0
  .info-description
    margin-top: 10px
  .illustration
    width: 110px

.upgrade-team-pop
  top: 26px
  left: 8px
  margin-bottom: side-padding
  .users
    margin-bottom: 0

.wide-pop
    min-width: 350px
    right: 0
    top: 27px
    display: inline-block
    @media (max-width: smallViewport)
      min-width: 320px
    
.team-user-remove-pop
  .projects-list
    label
      display: flex
      align-items: center
      margin-bottom: 10px
      cursor: pointer
      user-select: none
    input
      width: auto
      margin: 0
      margin-right: 5px
      cursor: pointer
    .avatar
      vertical-align: middle
      margin-right: 5px
    
    // shrink avatars if there are more than 10 projects
    label:nth-last-child(n+10) // every label at least ten from the end
      &, & ~ label // will style itself and all following labels
        .avatar
          width: 20px
          height: 20px
