progress
  appearance: none
  height: 9px
  width: 70px
  border: 1px solid primary-background
  // firefox
  background-color: transparent
  border-radius: 5px

  // ugly prefixes sadly required
  &::-webkit-progress-bar
    background-color: transparent

  &::-webkit-progress-value
    background-color: primary-background
    border-radius: 3px

  &::-moz-progress-bar
    background-color: primary-background
    border-radius: 3px

.notify-progress
  margin-left: 5px
