.project-container
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-columns: auto-repeat(auto-fill, minmax(350px, 1fr);
  
  // @media (max-width: mediumViewport)
  //   grid-template-columns: 1fr