.users
  padding: 0;
  vertical-align: middle
  &.single-line
    z-index: 1
    position: relative
    white-space: nowrap
    height: 32px
    // like overflow:hidden but with an L shape
    // it extends below the rect and to the right
    // cut off avatars but let tooltips keep rendering
    clip-path: polygon(-100% 0%, 100% 0%, 100% 100%, 200% 100%, 200% 200%, -100% 200%)
  > li
    display: inline-grid
    margin-right: -7px
  .made-by-glitch img, img.team-avatar
      border-radius: 5px !important
  
  .user
    border-radius: 0      
    img
      vertical-align: middle
    img.user-avatar
      border-radius: 50%
    img.team-avatar
      border-radius: 5px
      margin-right: 10px

  .made-by-glitch
    border-radius: 5px
    cursor: default

.user-names
  display: inline-block
  margin-left: 6px
  font-size: 14px
  margin-bottom: 10px;

.users-information .users
  display: flex
  flex-wrap: wrap
  margin-right: 5px

.whitelisted-domain
  display: inline-block
  width: 22px
  height: 22px
div.whitelisted-domain
  display: inline-flex
  justify-content: center
  align-items: center
  background-color: line-on-secondary-background
  font-size: 13px
  font-weight: 600
  color: white
  border-radius: 3px
img.whitelisted-domain
  object-fit: contain

