.expander
  transition: max-height 500ms // sync with the setTimeout
  position: relative
  overflow: hidden
  
  .expander-button
    position: absolute
    bottom: 0
    width: 100%
    text-align: center