.expander
  transition: max-height 500ms // sync with the setTimeout
  position: relative
  overflow: hidden
  
  .expander-button
    position: absolute
    bottom: 0
    left: 0
    right: 0
    text-align: center
    
    pointer-events: none
    > *
      pointer-events: initial