analytics-app-views = #2077b4
analytics-remixes = #ff7f0f

.team-analytics
  section
    margin-top: 1rem

  .controls
    margin: 0

  .total
    border-radius: 3px
    padding: 3px 5px
    color: primary-background
    &.app-views    
      background-color: analytics-app-views
    &.remixes
      background-color: analytics-remixes

  .activity
    margin-bottom: 0
    
  .referrers
    margin-top: 0
  
  .referrers-columns
    display: flex
  .referrer-column
    max-width: calc(50% - 20px)
    margin-right: 20px
    
  ul
    padding: 0
  li
    list-style-type: none
    
  progress
    border-color: input-border
    &::-webkit-progress-value
      background-color: input-border
    &::-moz-progress-bar
      background-color: input-border

  h3
    margin-top: 0
