analytics-app-views = #2077b4
analytics-remixes = #ff7f0f

.team-analytics
  .controls
    margin: 0

  section
    margin-top: 1rem

  .total
    border-radius: 3px
    padding: 3px
    color: primary-background
    &.app-views    
      background-color: analytics-app-views
    &.remixes
      background-color: analytics-remixes

